{% load static %}
<!DOCTYPE html>
<html lang="de">

<head>
    <title>Konten-Klärer</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/styling.css' %}?v=2">
    <link rel="stylesheet" href="{%static 'webfonts/uicons-regular-rounded.css' %}?v=1005">
</head>

<body>
    <div class="flex-row m1"><!-- page layout -->

        <!-- navbar left -->
        <div class="navbar content-box flex-column align-top stretch m1 vh100">

            <!-- logo-->
            <div class="logo flex-column center-h m1 m3b">
                <div class="flex-row"><!-- logo box top -->
                    <div class="logo-k1">K</div>
                    <div class="logo-k2">
                        K </div>
                </div>
                <div class="logo-text ">Konten Klärer</div><!-- logo text bottom -->
            </div>

            <!-- links -->
            <div class="link-menu">
                <!-- Daten -->
                {% if active_page == "data" %}<div class="link-box-active">
                {% else %}<div class="link-box">{% endif %}
                    <a href="/">
                        <div class="flex-row p2">
                            <div class="p1r"><i class="fi-rr-folder-upload"></i></div>
                            <div>Daten</div>
                        </div>
                    </a>
                </div>

                <!-- Kategorien -->
                {% if active_page == "categories" %}<div class="link-box-active">
                {% else %}<div class="link-box">{% endif %}
                    <a href="/categories">
                        <div class="flex-row p2">
                            <div class="p1r"><i class="fi-rr-folder-tree"></i></div>
                            <div>Kategorien</div>
                        </div>
                    </a>
                </div>

                <!-- Zuordnungen -->
                {% if active_page == "assign" %}<div class="link-box-active">
                {% else %}<div class="link-box">{% endif %}
                    <a href="/assign">
                        <div class="flex-row p2">
                            <div class="p1r"><i class=" fi-rr-folders"></i></div>
                            <div>Zuordnungen</div>
                        </div>
                    </a>
                </div>

                <!-- Statistiken -->
            </div>

        </div>

        <!-- main content left -->
        <div class="flex-column m1 vw100">
            {% block content %}
            {% endblock %}
        </div>

    </div>

</body>

</html>

<!--                <a href="flex-column link-box">
                    <div class="link-box">
                        <div class="link-logo"><i class="fi-rr-folder-upload"></i></div>
                        <div class="link-text">
                            Daten</div>
                    </div>
                </a>
                <a class="link_menu" href="/categories">
                    <div class="link-box">
                        <div class="link-logo"><i class="fi-rr-folder-tree"></i></div>
                        <div class="link-text">Kategorien</div>
                    </div>
                </a>
                <a class="link_menu" href="#home">
                    <div class="link-box">
                        <div class="link-logo"><i class=" fi-rr-money-check-edit-alt"></i></div>
                        <div class="link-text">Zuordnungen</div>
                    </div>
                </a>

                <a class="link_menu" href="#home">
                    <div class="link-box">
                        <div class="link-logo"><i class="fi-rr-chart-histogram"></i></div>
                        <div class=" link-text">Statistiken</div>
                    </div>
                </a> 
            </div> -->