{% extends 'base.html' %}q

{% block content %}
<!-- headline box-->
<div class="content-box p1 m2b">
    <h1>Kategorien verwalten</h1>
</div>

<!-- frame for income/expense boxes-->
<div class="flex-row m2b">
    <!-- left box income-->
    <div class="content-box flex-grow p1 m1r">
    <!-- headline-->
        <h2>Einnahmen</h2>
       <!-- insert form-->
        <form method="post">
            {% csrf_token %}
            <div><h4>Neue Einnahmen-Kategorie anlegen</h4></div>
            <div class="flex-column inputform m2b">
                <div class="flex-row center-h m1r p1">                
                   <div class="m1r"><label for="name">Name</label></div> 
                   <div class="align-right"> <input type="text" name="name_income" placeholder="Name" required></div>
                </div>
                <div class="flex-row center-h m1r p1">
                   <div class="m1r"> <label for="ignore">In Statistik ignorieren</label></div>
                   <div class="align-right"> 
                        <input type="checkbox" name="ignore">
                    </div>
                </div>
                <div class="p1 align-right">
                    <input type="submit" value="Anlegen">
                </div>
            </div>
        </form>

       <!-- treeview-->
       <div class="treeview p1">
            {% for item in categories_income_tree %}
                {% if item.ignore %}
                    <div class="p1 tree-item tree0 tree-ignore"><a class="link_trash_treeview" href="deletecategory/{{item.name}}"><i class="fi-rr-trash"></i></a>{{item.name}}</div>
                {% else %}
                    <div class="p1 tree0 tree-item"><a class="link_trash_treeview" href="deletecategory/{{item.name}}"><i class="fi-rr-trash"></i></a> {{item.name}}</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- right box expense-->
    <div class="content-box flex-grow p1 m1r">
    <!-- headline-->
        <h2>Ausgaben</h2>
       <!-- insert form-->
        <form method="post">
            {% csrf_token %}
            <div><h4>Neue Ausgaben-Kategorie anlegen</h4></div>
            <div class="flex-column inputform m2b">
                <div class="flex-row center-h m1r p1">                
                   <div class="m1r"><label for="name">Name</label></div> 
                   <div class="align-right"> <input type="text" name="name_expense" placeholder="Name" required></div>
                </div>
                <div class="flex-row center-h m1r p1">
                   <div class="m1r"> <label for="ignore">In Statistik ignorieren</label></div>
                   <div class="align-right"> 
                        <input type="checkbox" name="ignore">
                    </div>
                </div>
                <div class="p1 align-right">
                    <input type="submit" value="Anlegen">
                </div>
            </div>
        </form>

       <!-- treeview-->
       <div class="treeview p1">
            {% for item in categories_expense_tree %}
                {% if item.ignore %}
                    <div class="p1 tree-item tree0 tree-ignore"><a class="link_trash_treeview" href="deletecategory/{{item.name}}"><i class="fi-rr-trash"></i></a>{{item.name}}</div>
                {% else %}
                    <div class="p1 tree-item tree0"><a class="link_trash_treeview" href="deletecategory/{{item.name}}"><i class="fi-rr-trash"></i></a> {{item.name}}</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}