{% extends 'base.html' %}q

{% block content %}
<div class="header">
    <h1>Daten verwalten</h1>
    Hier können Sie Ihre Daten verwalten. Laden Sie CSV-Dateien hoch oder löschen Sie bereits hochgeladenen Dateien.

</div>

<div class="main">
    <div class="content-box">
        <div class="info-text">{{message}}</div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="file-upload" class="custom-file-upload">
                Datei hochladen
            </label>
            <input type="file" id="file-upload" name="file_upload" accept=".csv" onchange="form.submit()">
        </form>

    </div>

</div>
{% endblock %}