{% extends 'base.html' %}

{% block content %}
<!-- headline box-->
<div class="content-box p1 m2b">
    <h1>Statistiken</h1>
</div>
<!-- table with basic statistic-->
<div class="content-box flex-row center-h p1 m2b">
    <div class="m3r">
        <h2>Tabellarische Übersicht</h2>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="flex-row center-h">
            <!-- date from-->
            <div class="m3r p1">
                <div class="p1l">
                    Periode - von
                </div>
                <div class="p1">
                    <input class="p1l" type="text" name="period_from" value="{{select_period_from}}"
                        pattern="\d{1,2}\-\d{4}">
                </div>
                <div class="p1l">
                    <h5>Format (MM-JJJJ)</h5>
                </div>
            </div>

            <!-- date to-->
            <div class="m3r p1">
                <div class="p1l">
                    Periode - bis
                </div>
                <div class="p1">
                    <input class="p1l" type="text" name="period_to" value="{{select_period_to}}"
                        pattern="\d{1,2}\-\d{4}">
                </div>
                <div class="p1l">
                    <h5>Format (MM-JJJJ)</h5>
                </div>
            </div>

            <!-- button-->
            <div class="p1">
                <div class="">
                    <input type="submit" value="Aktualisieren">
                </div>
                <div class="message">
                    {{message}}
                </div>
            </div>
        </div>

    </form>


</div>
<div class="content-box p1 m2b table">
    <table>
        <!-- header -->
        <tr>
            <th>Kategorie</th>
            {% for period in periods%}
            <th>
                <div class="">
                    <div class="">{{ period.year}}</div>
                    <div class="">{{period.month}}</div>
                </div>
            </th>
            {% endfor %}
            <th class="table-stat-title">Summe</th>
            <th class="table-stat-title">Durchschnitt</th>
            <th class="table-stat-title">Median</th>
        </tr>

        <!-- income rows -->
        {% for item in income%}
        <tr>
            {% for i in item%}
            {% if forloop.counter > row_start_stats%}
            <!-- stat column -->
            <td align="right" class="table-stat-item">{{i}}</td>
            {% elif forloop.counter > 1%}
            <!-- data column -->
            {%if forloop.counter == selection.period and item.0 == selection.category%}
            <!-- selection -->
            <td align="right" class="table-select"><a href="/statistics/{{item.0}}-{{forloop.counter}}">{{i}}</a>
            </td>
            {% else %}
            <!-- not selected -->
            <td align="right" class="table-hover"><a href="/statistics/{{item.0}}-{{forloop.counter}}">{{i}}</a>
            </td>
            {% endif %}
            {% else %}
            <!-- first column -->
            <td>{{i}}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}

        <!-- income subtotal -->
        <tr>
            <td class="table-subtotal">Summe Einnahmen</td>
            {% for i in income_subtotal%}
            <td class="table-subtotal" align="right">{{i}}</td>
            {% endfor %}
        </tr>

        <!-- expense rows -->
        {% for item in expense%}
        <tr>
            {% for i in item%}
            {% if forloop.counter > row_start_stats%}
            <!-- stat column -->
            <td align="right" class="table-stat-item">{{i}}</td>
            {% elif forloop.counter > 1%}
            <!-- data column -->
            {%if forloop.counter == selection.period and item.0 == selection.category%}
            <!-- selection -->
            <td align="right" class="table-select"><a href="/statistics/{{item.0}}-{{forloop.counter}}">{{i}}</a>
            </td>
            {% else %}
            <!-- not selected -->
            <td align="right" class="table-hover"><a href="/statistics/{{item.0}}-{{forloop.counter}}">{{i}}</a>
            </td>
            {% endif %}
            {% else %}
            <!-- first column -->
            <td>{{i}}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}

        <!-- expense subtotal -->
        <tr>
            <td class="table-subtotal">Summe Ausgaben</td>
            {% for i in expense_subtotal%}
            <td class="table-subtotal" align="right">{{i}}</td>
            {% endfor %}
        </tr>

        <!-- total row -->
        <tr>
            <td class="table-total">Summe</td>
            {% for i in total%}
            <td class="table-total" align="right">{{i}}</td>
            {% endfor %}
        </tr>

    </table>
</div>

<!-- Detail Statistics -->
<div class="content-box p1">
    <h2>Details für {{select_category}} ({{select_period.month}} / {{select_period.year}})</h2>
    <div class="table">
        <table>
            <tr>
                <th class="">Datum</th>
                <th class="">Empfänger/Sender</th>
                <th class="">Verwendungszweck</th>
                <th class="">Kategorie</th>
                <th class="">Betrag</th>

            </tr>
            {%for item in detail_statistics%}
            <tr>
                <td>{{item.date|date:"d.m.Y"}}</td>
                <td>{{item.payee}}</td>
                <td>{{item.purpose}}</td>
                <td>{{item.category.name}}</td>
                <td align="right">{{item.amount_display}} €</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}